$font-size-xs: 0.7em;
$btn-padding-y-xs:      .20rem !default;
$btn-padding-x-xs:      .3rem !default;
$btn-font-size-xs:      $font-size-xs !default;
$btn-border-radius-xs: 2px;

.btn-xs {
    @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-border-radius-xs);
}
.btn-default, btn-secondary {
    color: $secondary;
    background-color: #fff;
    border-color: #ccc;
}
.btn:not(.btn-icon-only) i.fa, .btn:not(.btn-icon-only) i.far, .btn:not(.btn-icon-only) i.fas, .btn:not(.btn-icon-only) i.fab {
    margin-right: 8px;
}

