.file-tree{
    position:relative;
    clear:both;
    .file-sub-tree{
        .expand-control{
            width: 20px;
            display: inline-block;
            text-align: center;
            * {
                cursor: pointer;
            }
        }
        .file{
            border: 1px solid white;
            border-radius: 4px;
            padding: 2px;
            cursor: pointer;
            display: inline-block;

            & > * {
                line-height: 30px;
            }
            &.selected{

                background-color: lighten($brand-warning, 20%);
                border: 1px solid $brand-warning;
            }
            &.can-drop{
                background-color: lighten($brand-success, 20%);
                border: 1px solid $brand-success;
            }
            .icon{
                margin:0 4px;
                font-size: 20px;
                vertical-align:middle;
                color:$brand-primary;
            }
            .view{
                font-style: italic;
                padding: 0 6px;
                display:none;
            }
            &.selected .view{
                display: inline;
                &:hover{

                }
            }
            .filename{
                padding-right:12px;
            }
        }
        .children{
            margin-left: 20px;
            display:none;
        }
        .children.showing{
            display:block;
        }


    }
    .form-group{
        display: inline-block;
        margin-bottom: 0;
        padding-right:12px;
    }




}

.documents-view {
    .document-panel {
        user-select: none;
        .panel-heading {
            float: left;
            width: 100%;
            padding: 5px 15px;
            h3.panel-title {
                float: left;
                padding: 4px 0;
            }

        }
        .panel-body{
            clear:both;
            position: relative;

        }
    }
    .loading-small {
        position: absolute;
        top: 16px;
        right: 16px;
    }
    .dropzone{
            margin-top: 20px;
    }
}

.pdf-wrapper {
    canvas {
        width: 100%;
        position: relative;
        background-color: #fff;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
        transform: translate3d(0, 0, 0);
    }
}


.document-sidebar {
    $width: 400px;
    position: fixed;
    width: $width;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: white;
    border-left: 1px solid $table-border-color;
    padding-top: 50px;

    .document-sidebar-body{
        padding:15px; //

        .filename {
            word-break: break-all;
            font-size: 1.2em;
            margin-bottom:20px;
            width: $width+-64;
        }
        .dl-horizontal {

            dt {
                width:$width/3;
            }
            dd {
                margin-left: $width/3+20;
                word-break: break-word;
            }
        }
    }

    .doc-icon {
        padding-right:8px;
    }
    .doc-edit {
        padding-left:8px;
    }
    .loading-small{
        top: 64px;
    }
}