// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Typography
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '~font-awesome/fonts';
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

$brand-primary: #337ab7;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);


// Core variables and mixins
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "~bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';
@import "~react-widgets/lib/scss/react-widgets";

@import "~jasons-formal/src/style/form";
@import 'loading';
@import 'buttons';


.public-navbar{
    background-image: url(/images/cropped-evologo.png);
        background-color: transparent;
    background-position: center center;
    background-color: #d3e0e9;
     background-repeat: no-repeat;
    .navbar-brand{
        display:none;
    }
}

.sea {
    position: relative;
    padding: 50% 0 0;
    background-color: transparent;
    background-size: cover;
    background-image: url(/images/sea-50q.jpg);
    background-position: center 56%;
}
@media (min-width: 768px) {
    .sea {
        padding: 30% 0 0;
    }
}
.sea p {
    position: absolute;
    top: 40%;
    left: 1%;
    right: 1%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.3em;
    color: #fff;
    font-weight: 400
}

@media (min-width: 768px) {
    .sea {
        padding:30% 0 0
    }

    .sea p {
        font-size: 2em;
        top: 45%
    }
}

@media (min-width: 1200px) {
    .sea p {
        font-size:2.5em;
        top: 45%
    }
}

.login-container {
    margin-top: 60px;
}

.form-control.rw-datetimepicker {
    padding: 0;
}

.form-group.required .control-label:after {
    content: "*";
    color: $brand-danger;
    font-size: 18px;
    line-height: 14px;
    padding-left: 2px;
    position: absolute;
}

table.table>tbody>tr>td {
    vertical-align: middle;
}

table.table {
    th.actions {
        min-width: 180px;
    }
}

.panel h3 {
    margin: 5px 0;
    font-weight: 300;
}

.title-row {
    margin-bottom: 16px;
}

.panel-default > .panel-heading {
    background: $gray-lighter;
}

.notifications {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 1;
    width: 400px;
    max-width:90%;

    .notification {
        height: 50px;

    }
}

.markdown-editor textarea{
    width:100%;
    min-height:800px;
}


.markdown{
    @import "markdown";
}

fieldset {
    &:not {
        margin-bottom: 15px;
    }

    legend {
        text-align: center;
    }
}

td.actions a:not(:first-child) {
    margin-left: 8px;
}

.link-toolbar {
    a:hover {
        cursor: pointer;
    }

    a:not(:first-child) {
        margin-left: 12px;
    }
}

.dropzone{
    cursor: pointer;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    border-radius: 4px;
    padding: 30px;
    transition: all 0.5s;
    &.accept{
        border-style: solid;
        border-color: #18BC9C;

    }
    &.reject{
        border-style: solid;
        background-color: #ffdddd;
    }
}

.file-row{
    margin-bottom:8px;
}


.button-row{
    clear:both;
    text-align:center;
    margin: 1em 0;
    button {
        margin: 0 4px;
    }
}

input.checkbox.form-control {
    box-shadow: none;
}

.actionable {
    cursor: pointer;
}
.icon-action-page{
    .select-button {
        @extend .col-sm-6;
        display: block;
        padding: 10px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: $gray-lighter;
        border: 8px solid #fff;;
        border-radius:4px;
        &.disabled{
            color: #ccc;
        }
        &.actionable:hover{
            background-color: $brand-primary;
            color:white;
            transition: background-color 0.5s ease,
                        color 0.5s ease;
        }
        .glyphicon, .fa {
            margin-top: 16px;
            margin-bottom: 10px;
            font-size: 50px;
        }
        .transaction-button-text{
            display: block;
            text-align: center;
            word-wrap: break-word;
            font-size:16px;
        }
    }
}

.icon-action-page:after{
    clear:both;
    content: " ";
    display: table;
}

.icon-action-page-sml{
    .glyphicon, .fa {
        margin-right:10px;
        margin-left:10px;
        margin-bottom:4px;
        font-size: 24px;
        vertical-align: middle;
        width: 25px;
        text-align: center;
    }
    .transaction-button-text{
        vertical-align: middle;
        line-height: 24px;
    }
}


.preview{
    canvas{
        width:100%;
        position: relative;
        background-color: #fff;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
        // huge increase in perf
            transform: translate3d(0, 0, 0);
    }
}


.dropdown-menu{
        max-height: 300px;
    overflow: auto;
}

.rw-dropdown-list{

    .rw-popup{
        z-index:20;
    }
}

.form-horizontal .form-group.naked {
    margin-left: 0;
    margin-right: 0;
}
