/*

// Body


// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Typography
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

$primary: #337ab7;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
*/

//$zindex-modal: 1000;



$popup-border: #cdcdcd;

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";



//$body-bg: #f5f8fa;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 14px;
$btn-font-size: 14px;

@import "~bootstrap/scss/_utilities";

// Layout & components
@import "~bootstrap/scss/_root";
@import "~bootstrap/scss/_reboot";
@import "~bootstrap/scss/_type";
@import "~bootstrap/scss/_images";
@import "~bootstrap/scss/_containers";
@import "~bootstrap/scss/_grid";
@import "~bootstrap/scss/_tables";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_dropdown";
@import "~bootstrap/scss/_button-group";
@import "~bootstrap/scss/_nav";
@import "~bootstrap/scss/_navbar";
@import "~bootstrap/scss/_card";
@import "~bootstrap/scss/_accordion";
@import "~bootstrap/scss/_breadcrumb";
@import "~bootstrap/scss/_pagination";
@import "~bootstrap/scss/_badge";
@import "~bootstrap/scss/_alert";
@import "~bootstrap/scss/_progress";
@import "~bootstrap/scss/_list-group";
@import "~bootstrap/scss/_close";
@import "~bootstrap/scss/_toasts";
@import "~bootstrap/scss/_modal";
@import "~bootstrap/scss/_tooltip";
@import "~bootstrap/scss/_popover";
@import "~bootstrap/scss/_carousel";
@import "~bootstrap/scss/_spinners";
@import "~bootstrap/scss/_offcanvas";
@import "~bootstrap/scss/_placeholders";

// Helpers
@import "~bootstrap/scss/_helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";


$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";


$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';
@import "~react-widgets/scss/styles.scss";

@import "~jasons-formal/src/style/form";
@import 'loading';
@import 'buttons';
@import 'documents';



.sea-background {
    background-image: url(/images/sea-50q.jpg);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index:-1;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sea-foreground {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(/images/sea-50q-blurred.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15px;
    border-radius: 4px;

    animation: 1s ease-out 0s 1 focus-in;
}


@keyframes focus-in {
  0% {
     filter: blur(30px);
  }
  100% {
     filter: blur(0);
  }
}

.text-center {
    text-align: center;
}


.public-navbar {
    background-image: url(/images/cropped-evologo-large.png);
    background-size: contain;
    background-color: transparent;
    background-position: center center;
    background-color: #333;
    background-repeat: no-repeat;
    .navbar-brand {
        display:none;
    }
}

.navbar {
    .navbar-brand {
        font-size:1rem;
    }
    .brand-logo{

        height:24px;
    }
}

.navbar-nav {
    margin-left: auto;
}

.login-container {
    margin-top: 60px;
}

.form-control.rw-datetimepicker {
    padding: 0;
}

.form-group.required .control-label:after {
    content: "*";
    color: $danger;
    font-size: 18px;
    line-height: 14px;
    padding-left: 2px;
    position: absolute;
}

table.table>tbody>tr>td {
    vertical-align: middle;
}

table.table {
    th {
        min-width:66px;
    }
    th.actions {
        min-width: 180px;
    }

    th i {
        padding-left:8px;
    }
}

.card {
    margin-bottom:1em;
    .card-header {
        font-size: 16px;
        font-weight: 300;
    }

}
.navbar {
    margin-bottom:1em;
}
@include media-breakpoint-down(sm) {
    .navbar {
        margin-bottom:0;
        border:none;
    }
    #main > div > .container {
        padding:0;
        .card {
            border-width: 1px 0 0 0;
            border-radius: 0;
            .btn-toolbar {
                margin-left: -5px;
                width: 100%;
                padding-bottom: 12px;
            }
        }
    }
    .table-responsive table.table.better-responsive {
        thead {
            display: none;
        }
        td, th {
            display: block;
            clear: both;
        }
        td[data-th]:before {
            content: attr(data-th);
            padding-right:8px;
            text-align:right;
            font-weight:bold;
            float: left;
        }
        td:last-child {
            text-align: center;
            width:100%;
            background-color: #efefef66;
        }
    }
}


.title-row {
    margin-bottom: 16px;
}



.notifications {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 1;
    width: 400px;
    max-width:90%;

    .notification {
        height: 50px;

    }
}

.markdown-editor textarea{
    width:100%;
    min-height:800px;
}


.markdown{
    @import "markdown";
}

fieldset {
    &:not {
        margin-bottom: 15px;
    }

    legend {
        text-align: center;
    }
}

td.actions a:not(:first-child) {
    margin-left: 8px;
}

.link-toolbar {
    a:hover {
        cursor: pointer;
    }

    a:not(:first-child) {
        margin-left: 12px;
    }
}

.dropzone{
    cursor: pointer;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    border-radius: 4px;
    padding: 30px;
    transition: all 0.5s;
    &.accept{
        border-style: solid;
        border-color: #18BC9C;

    }
    &.reject{
        border-style: solid;
        background-color: #ffdddd;
    }
}

.file-row{
    margin-bottom:8px;
}


.button-row{
    clear:both;
    text-align:center;
    margin: 1em 0;
    button {
        margin: 0 4px;
    }
}

input.checkbox.form-control {
    box-shadow: none;
}

.actionable {
    cursor: pointer;
}
.icon-action-page{
    .select-button {
        @extend .col-sm-6;
        display: block;
        padding: 10px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: #cdcdcd;
        border: 8px solid #fff;;
        border-radius:4px;
        &.disabled{
            color: #ccc;
        }
        &.actionable:hover{
            background-color: $primary;
            color:white;
            transition: background-color 0.5s ease,
                        color 0.5s ease;
        }
        .glyphicon, .fa {
            margin-top: 16px;
            margin-bottom: 10px;
            font-size: 50px;
        }
        .transaction-button-text{
            display: block;
            text-align: center;
            word-wrap: break-word;
            font-size:16px;
        }
    }
}

.icon-action-page:after{
    clear:both;
    content: " ";
    display: table;
}

.icon-action-page-sml{
    .glyphicon, .fa {
        margin-right:10px;
        margin-left:10px;
        margin-bottom:4px;
        font-size: 24px;
        vertical-align: middle;
        width: 25px;
        text-align: center;
    }
    .transaction-button-text{
        vertical-align: middle;
        line-height: 24px;
    }
}

p.form-question {
    width: 100%;
    text-align: center;
    margin-top: 36px;
}

.preview{
    canvas{
        width:100%;
        position: relative;
        background-color: #fff;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
        // huge increase in perf
            transform: translate3d(0, 0, 0);
    }
}


.dropdown-menu{
        max-height: 300px;
    overflow: auto;
}

.rw-dropdown-list{

    .rw-popup{
        z-index:20;
    }
}

.form-horizontal .form-group.naked {
    margin-left: 0;
    margin-right: 0;
}

form.horizontal {
    .form-group {
        @extend .row;

    }
}

.form-group.no-margin{
    margin-bottom:0;
}

.form-horizontal{
  .form-group-sm {
      @include media-breakpoint-up(sm) {
      .rw-widget-container {

            font-size: $small-font-size;
            line-height: $line-height-sm;
            border-radius: $input-border-radius-sm;

      }
      .btn{
          @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
      }
    }
  }
}

.jasons-formal {
    input.checkbox.form-control {
        width:auto;
    }
}

.search-bar{
    margin: 10px 0;
}

table{
    td{
        .btn{
            &:not(:first-child){
                margin-left:4px;
            }
        }
    }
}
.lazy-table {
    table {
        table-layout: fixed;
    }
    table td{
   //       overflow: hidden;
  // white-space: nowrap;
    }
}

.deadlines{
    .deadline-date-title{
        padding-bottom:20px;
    }
    .all-resolved {
        background-color:lighten($success, 20%);
    }
    .has-deadline{
        background-color: $danger;
        color:white;
        font-weight: bold;
    }
    .deadline-summary{
        @extend .card;
        //@extend .card-sm;
        margin:0.5em 0;
        position: relative;
        dl{
            margin: 0;
        }
        &.resolved {
            opacity: 0.5;
        }
    }
    .deadline-controls {
        @extend .btn-group;
        @extend .btn-group-vertical;
        position: absolute;
        right: 8px;
        top: 8px;

    }
}

.outlook-results {
    .outlook-results-count {
        padding: 4px;
        font-style: italic;
    }
    .list-group-item {
        display:flex;

        .summary-block {
            flex-grow: 1;
            .from, .to, .summary, .subject, outlook-link {
                display: block;
            }
            .subject {
                font-weight:bold;
            }
        }
        .controls {
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100px;
        }
        .form-group {
            width: 30px;
            align-self: center;
            margin-bottom: 0;
        }
        &::after {
            content: "";
            clear: both;
            display: table;
        }

    }
}